*.pyc
*.egg-info
/build
/dist
/.coverage
/coverage
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/dnstable-manager/
debian/dnstable-manager-run/
debian/dnstable-manager-service/
debian/files
