[Unit]
Description=Farsight DNSTable Manager Service
ConditionPathExists=/usr/bin/dnstable-manager

[Install]
Alias=dnstable-manager.service

[Service]
EnvironmentFile=/etc/default/dnstable-manager
ExecStart=/usr/bin/dnstable-manager --config $CONFIG_FILE
Restart=always
RestartSec=1
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
NoNewPrivileges=yes
