#!/usr/bin/make -f
%:
	dh $@ --with python2 --with systemd

override_dh_auto_install:
	python setup.py install --root=debian/dnstable-manager --install-layout=deb --install-lib=/usr/share/dnstable-manager --install-scripts=/usr/share/dnstable-manager

override_dh_auto_test:
	python setup.py test
	pyflakes dnstable-manager
